# Created by https://www.toptal.com/developers/gitignore/api/MY_API_NAME
# Edit at https://www.toptal.com/developers/gitignore?templates=MY_API_NAME

#!! ERROR: my_api_name is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/MY_API_NAME
*.csv
*.sav
